body{
  font-family: 'Faustina', serif;
  padding: 0px;
  margin: 0;
  font-style: normal;
  background-image: url("background.JPG");
  background-blend-mode: lighten;
}

#top{
  text-align: center;
  border: solid 5px #D6FFF6;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  color: #122932;
}

@media screen and (max-width: 801px){
  #name h2{
    font-size: 18px;
  }
  #top h1{
    font-size: 20px;
  }
}
@media screen and (min-width: 800px){
  #name h2{
    font-size: 25px;
  }
  #top h1{
    font-size: 40px;
  }
}

img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
