body{
  font-family: 'Andada Pro', serif;
  padding: 0px;
  margin: 0;
  font-style: normal;
  background-color: #FFFFFF;

}

#top{
  background-color: #FFFFFF;
  font-size: 30px;
  text-align: center;
  border: solid 7px #FF420E;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  color: #FF420E
}
#name{
  background-color: #FFFFFF;
  border: solid 5px #F98866;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  color: #F98866;
}

#list{
background-color: #FFFFFF;
border: solid 5px #7DE2F9;
border-radius: 10px;
padding: 5px;
margin: 5px;
color:  #7DE2F9;

}

#goals{
  background-color: #FFFFFF;
  border: solid 5px #80BD9E;
  border-radius:10px;
  padding: 5px;
  margin: 5px;
  color: #80BD9E

}
#goals, #list, #name{
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 5vw;
}

img{
  width: 20vw;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: dotted 5px #89DA59;
}

#button1, #button2{
  margin: 10px;
  padding: 2px;
}

button{
  background-color: #F98866;
  font-family: 'Andada Pro', serif;
  font-size: 15px;
  margin: 10px;
  padding: 7px 15px;
  color: white;
  border-radius: 5px;
  border: solid 2px #F98866;
}
button:active{
  background-color: #FF420E;
  border: solid 3px #EF3907;
}
button:hover{
  background-color: #FF420E;
  border: solid 2px #EF3907;
}
