body{
  font-family: 'Faustina', serif;
  padding: 0px;
  margin: 0;
  font-style: normal;
  background-image: url("background.JPG");
  background-blend-mode: lighten;
}

#top{
  text-align: center;
  border: solid 5px #D6FFF6;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  color: #122932;
}

@media screen and (max-width: 801px){
  #name h2{
    font-size: 18px;
  }
  #top h1{
    font-size: 20px;
  }
}
@media screen and (min-width: 800px){
  #name h2{
    font-size: 25px;
  }
  #top h1{
    font-size: 40px;
  }
}
#middle{
color: #122932;
display: grid;
 padding: 2rem;
 grid-template-columns: 300px 2fr;
 gap: 1rem;
 align-items: center;
 max-width: 600px;
 margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
.name{
  font-size: 19px;
  background-color: #F4989C;
  border: 2px  solid #FFB7C3;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 50px;

}
.facts{
  font-size: 18px;
  background-color: #F4989C;
  border: 2px  solid #FFB7C3;
  border-radius: 6px;
  padding-left: 30px;
  padding-right:70px;
}
