body{
  background-image: url("leaf.JPG");
  background-color: #BBC8BA;
}

#title{
  font-family: 'Sumana', serif;
  font-size: 30px;
  color: #2B331F;
  text-align: center;
}

#box{
  background-color: #546747;
  margin: 5vh 20vw;
  padding: 8vh 8vw 8vh 8vw;
  height: 30vh;
  border: double 7px #2B331F;
  border-radius: 6px;
}
h2{
  color: white;
  font-family: 'Sumana', serif;
  font-size: 30px;
  text-align: center;
}

#newquote{
  border-radius: 6px;
  border-color: #2B331F;
  padding: 1vh 3vw;
  float: left;
  margin-top: 8vh;
  background-color: #FDDCA5;
  color:white;
  font-family:'Sumana', serif;
  font-weight:bold;
  position:absolute;
  bottom:300px;
  right:570px;
}

#newquote:hover{
  border: #FAB73D solid 1px;
}

#newquote:active{
  color: #FAB73D;
}

#middle{
  font-family: 'Sumana', serif;
  color: #2B331F
}
#relax{
  border-radius: 6px;
  border-color: #2B331F;
  padding: 1vh 3vw;
  float: left;
  margin-top: 8vh;
  background-color: #FDDCA5;
  color:white;
  font-family:'Sumana', serif;
  font-weight:bold;
  position:absolute;
  bottom:100px;
  right:900px;
}

#workout{
  border-radius: 6px;
  border-color: #2B331F;
  padding: 1vh 3vw;
  float: left;
  margin-top: 8vh;
  background-color: #FDDCA5;
  color:white;
  font-family:'Sumana', serif;
  font-weight:bold;
  position:absolute;
  bottom:100px;
  right:700px;
}

#journal{
  border-radius: 6px;
  border-color: #2B331F;
  padding: 1vh 3vw;
  float: left;
  margin-top: 8vh;
  background-color: #FDDCA5;
  color:white;
  font-family:'Sumana', serif;
  font-weight:bold;
  position:absolute;
  bottom:100px;
  right:460px;
}
#fact{
  border-radius: 6px;
  border-color: #2B331F;
  padding: 1vh 3vw;
  float: left;
  margin-top: 8vh;
  background-color: #FDDCA5;
  color:white;
  font-family:'Sumana', serif;
  font-weight:bold;
  position:absolute;
  bottom:100px;
  right:220px;
}
